<% provide( :title, "元法动态|") %>
<div class="container">
  <div style="text-align:center"><h3><%=@notice.title%></h3></div>
  <div style="text-align:center"><%=@notice.posttime.strftime("%Y-%m-%d %H:%M:%S")%></div>
  <div><%=raw(@notice.body)%></div>
</div>
