<div class="container">
  <div style="text-align:center"><h3><%=@notice.title%></h3></div>
  <div style="text-align:center"><%=@notice.posttime.strftime("%Y-%m-%d %H:%M:%S")%></div>
  <div><%=@notice.body%></div>
</div>
