<% provide(:title, "业务信息|") %>
<div class="container">
  <div style="text-align:center"><h3><%=@distribution.title%></h3></div>
  <div style="text-align:center"><%=@distribution.posttime.strftime("%Y-%m-%d %H:%M:%S")%></div>
  <div><%=raw(@distribution.body)%></div>
</div>
