<% provide(:title, "行业新闻|") %>
<div class="container">
  <div style="text-align:center"><h3><%=@news.title%></h3></div>
  <div style="text-align:center"><%=@news.posttime.strftime("%Y-%m-%d %H:%M:%S")%></div>
  <div><%=raw(@news.body)%></div>
</div>
