<div class="container">
  <div style="text-align:center"><h3><%=@news.title%></h3></div>
  <div style="text-align:center"><%=@news.posttime.strftime("%Y-%m-%d %H:%M:%S")%></div>
  <div><%=@news.body%></div>
</div>
