<p>杭州元法编辑服务部是一家以策划、出版、发行政府类图书为主的文化机构，坐落于知名高校云集、文化气息浓厚的浙江省杭州。公司以致力于发展做中国政府图书第一品牌。</p>
<p>公司成立多年来，始终坚持“诚信、求实、创新、发展”的经营理念，本着“面向读者，服务客户”的宗旨，稳健立足于图书行业。客户是我们的朋友，读者是我们的上帝。“多出书，出好书，为客户和读者服务”是我们一贯的经营方针。面对图书行业日益加剧的竞争，元法编辑服务部、锐意创新、激流勇进，把公司的事业推向一个个崭新的台阶。  “雄关漫道真如铁，而今迈步从头越。”回顾过去，我们风风雨雨一同走过；展望未来，我们灿烂前程共同开创。愿普天下的英才志士与元法携起手来，共同开创光辉灿烂的明天！</p>
<p>经营理念：诚信、求实、创新、发展 服务宗旨：面向读者，服务客户 。</p>
