<% provide(:title, '公司信息|') %>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">公司简介</a></li>
    <li><a href="#tab2" data-toggle="tab">业务咨询</a></li>
    <li><a href="#tab3" data-toggle="tab">人才招聘</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'company_info' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'consult_info' %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render 'recruitment_info' %>
    </div>
  </div>
</div>
