<% provide(:title, '"'+ @editor.name + '"|' ) %>
<div class="container">
  <div class="pull-left" style="width:30%">
    <div style="text-align:center"><%= image_tag(@editor.portrait) %></div>
    <div style="text-align:center"><h3><%= @editor.name %></h3></div>
    <%= raw(@editor.resume) %>
  </div>
  <div class="pull-left">
    <% @columns.each do |c| %>
      <%= link_to c.title, post_path(c) %>
      <br />
    <% end %>
  </div>
</div>
