.cart{padding-right:2px}
.item-line{height:420px;width:20%;margin:2%;padding:6px;-webkit-box-shadow: 5px 5px 10px;text-align:center;line-height: 32px;}
.item-line img{max-height:77%}
.btn-cart{margin-left: 6px;}
