.content-table{border: 1px solid;margin: 0 auto;width: 50%;}
.w80p{width:80%;}
.br-n{border-right:none;}
.bl-n{border-left:none;}
.bt-1{border-bottom: 1px solid;}
.bg-wr{background-color: #ffffff !important;}
