<div><%=link_to '关于我们',statics_path%> | <a href="#myModal"   data-toggle="modal">联系我们</a> | <a href="<%=statics_path%>#tab2" >业务合作</a>  </div>
<div>友情链接：<a href="http://www.zjsfxz.com" target="blank">社会发展写作网</a> </div>
<div><a href="http://www.beianbeian.com/beianxinxi/56a2dc15-b20a-4930-8224-4ec482c7613e.html">浙ICP备13029052号-1</a></div>
<script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9fb1fccc7222ea67a32baf6c54b82a00' type='text/javascript'%3E%3C/script%3E"));
</script>

