<div><%=link_to '关于我们',statics_path%> | <a href="#myModal"   data-toggle="modal">联系我们</a> | <a href="<%=statics_path%>#tab2" >业务合作</a>  </div>
<div>浙ICP备11041017号-2</div>
<div><a href="http://www.miitbeian.gov.cn/">http://www.miitbeian.gov.cn/</a></div>
