<div><%=link_to '关于我们',statics_path%> | <a href="#myModal"   data-toggle="modal">联系我们</a> | <a href="<%=statics_path%>#tab2" >业务合作</a>  </div>
<div>浙ICP备13029052号-1</div>
<div><a href="http://www.miitbeian.gov.cn/">http://www.miitbeian.gov.cn/</a></div>
<script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9fb1fccc7222ea67a32baf6c54b82a00' type='text/javascript'%3E%3C/script%3E"));
</script>

